<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.dengwj.mapper.CategoryMapper">

<!--    新增分类-->
    <insert id="save">
        insert into category (type, name, sort, create_user, update_user)
        values (#{type}, #{name}, #{sort}, #{createUser}, #{updateUser})
    </insert>

    <!--    查询分类-->
    <select id="page" resultType="vip.dengwj.entity.CategoryEntity">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort desc
        limit #{page}, #{pageSize}
    </select>

    <!--    查询总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>

    <!--    更新分类-->
    <update id="update">
        update category
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

<!--    根据类型查询分类-->
    <select id="getListByType" resultType="vip.dengwj.entity.CategoryEntity">
        select * from category where type = #{type}
    </select>

<!--    删除分类-->
    <delete id="delete">
        delete from category where id = #{id};
    </delete>
</mapper>