<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.dengwj.mapper.EmpMapper">
    <!--    新增员工-->
    <insert id="saveEmp">
        insert into emp (name, username, password, phone, sex, id_number, status, create_time, update_time,
                         create_user, update_user)
        values (#{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{status}, #{createTime},
                #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <!--    根据用户名和密码查询员工-->
    <select id="getEmpByUsernameAndPassword" resultType="vip.dengwj.entity.EmpEntity">
        select *
        from emp
        where username = #{username}
    </select>

<!--    封装-->
    <sql id="foreachCommon">
        <where>
            <foreach collection="empQueryMap" item="value" index="key">
                <if test="value != null and value != ''">
                    ${fragment}
                </if>
            </foreach>
        </where>
    </sql>

    <!--    查询员工-->
    <select id="page" resultType="vip.dengwj.entity.EmpEntity">
        select id, name, username, phone, sex, id_number, status, create_time, update_time, create_user,
        update_user
        from emp
        <include refid="foreachCommon">
            <property name="fragment" value="and #{key} like concat('%', #{value}, '%')"/>
        </include>
        order by create_time desc
        limit #{currentPage}, #{pageSize}
    </select>

<!--    获取总条数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from emp
        <include refid="foreachCommon">
            <property name="fragment" value="and #{key} = #{value}"/>
        </include>
    </select>
</mapper>
