<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.dengwj.mapper.ShoppingCartMapper">
    <!--    新增商品-->
    <insert id="insert">
        insert into shopping_cart (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount)
        values (#{name}, #{image}, #{userId}, #{dishId}, #{setmealId}, #{dishFlavor}, #{number}, #{amount})
    </insert>

<!--    更新商品-->
    <update id="update">
        update shopping_cart
        set name  = #{name},
            image = #{image},
            user_id = #{userId},
            dish_id = #{dishId},
            setmeal_id = #{setmealId},
            dish_flavor = #{dishFlavor},
            number = #{number},
            amount = #{amount}
        where id = #{id}
    </update>

    <!--    根据商品的 dishId 或 setmealId 查询该条数据-->
    <select id="getShopping" resultType="vip.dengwj.entity.ShoppingCartEntity">
        select *
        from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </select>
</mapper>
